#Ignore Terraform variable files
*.tfvars
*.tfstate
*.tfstate.backup
*.lock.hcl
terraform/.terraform/*
# Ignore sensitive files
secret.json
private_key.pem
.env
# Ignore Terraform plan files
*.tfplan
